@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}
.empty-icons {
  display: flex !important;
}
.filled-icons {
  display: -webkit-inline-box !important;
}
/* 
.input-ani:focus + .label-ani,
.input-ani:valid + .label-ani {
  transform: translateY(-12px);
  font-size: 0.75rem;
} */
