@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}
.empty-icons {
  display: flex !important;
}
.filled-icons {
  display: -webkit-inline-box !important;
}
/* 
.input-ani:focus + .label-ani,
.input-ani:valid + .label-ani {
  transform: translateY(-12px);
  font-size: 0.75rem;
} */

.toastui-editor-contents h1 {
  font-size: 24px !important;
}

.toastui-editor-contents h2 {
  font-size: 20px !important;
}

.toastui-editor-contents h3,
.toastui-editor-contents code,
.toastui-editor-contents p {
  font-size: 16px !important;
}
