### 프로젝트 메인 디렉터리 관리.

## 직무 디렉터리 관리 -> 직무군 별로 별도 설정?

## 공용 개발 디렉터리
.DS_store
.README.md
.env.config
.idea
/node_modules
.vscode/

## 백엔드 제외 목록
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 보안 정보 ###
application-prod.yml